.card-contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* border: 1px solid black; */
}
.cart-text {
  min-height: "100px";
  margin-top: "10px";
  /* border: 1px solid black; */
  /* padding: 10px; */
  overflow-y: hidden;
}
.cart-title {
  margin-bottom: 10px;
  /* border: 1px solid black; */
}
.card-bottom {
  /* border: 1px solid black; */
  min-height: 200px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .card-contant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card-bottom {
    display: flex;
    flex-direction: column;
  }
}
